body {
    margin: 0;
    font-family: "Fira Code", sans-serif;
    width: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* "navigation-bar" */

.navbar {
    overflow: hidden;
    background: black;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 14px 14px 19px;
    background-color: inherit;
}

.navbar .dropdown:hover .dropbtn:hover {
    background-color: #53e3fb;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 30px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display:block;
}

.logo, .dropbtn  {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 600;
    letter-spacing: 4.66667px;
    font-size: 14px;
}

.e:hover span {
    background-color: #53e3fb;
    transition: 1s;
}

.e:hover .logo  {
    color: #53e3fb;
    transition: 1s;
}

.inf {
    padding: 5px 0 5px 5px;
    background: white;
    color: black;
}




/* "intro" section */

.intro {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    height: 600px;
}

.intro .intro-block {
    width: 100%;
    margin: auto;
    padding: 200px 100px;
}

.fade {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.9);
    height: 600px;
}

.intro h1 {
    border-bottom: 2px solid white;
    padding-bottom: 30px;
    color: white;
    font-weight: 600;
    letter-spacing: 0.466667px;
    font-size: 55px;
}
.intro p {
    margin-top: 0;
    font-size: 20px;
    font-weight: 300;
    color: white;
    margin-right: 30px;
    display: inline-block;
}

/* section "photo-lines" with 3 rows of pictures */

.photo-lines {
    overflow: auto;
}

.photo-row {
    width: 100%;
}

/* photo-text styles */

.photo-text {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-weight: 600;
    z-index: 1;
}
.photo-text h3 {
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

/* picture 1 */

.pic-one {
    background-size: cover;
    background-image: url("../img/4466613035_34f9cb8b38.jpg");
    height: 55vh;
    position: relative;
    width: 50%;
    float: left;
}
.img-overlay {
    width: 100%;
    height: 100%;
    background: #6fc3df;
    opacity: 0.5;
    transition: opacity .3s linear;
}
.photo-text:hover{
    cursor: pointer;
}
.img-overlay:hover, .img-overlay-two:hover, .img-overlay-three:hover, .img-overlay-four:hover, .img-overlay-five:hover, .img-overlay-six:hover {
    opacity: 0;
    transition: opacity .3s linear; /* can also try other values such as ease, ease-out etc. */
}

.pic-one:hover > .img-overlay, .pic-two:hover > .img-overlay-two, .pic-three:hover > .img-overlay-three, .pic-four:hover > .img-overlay-four,
.pic-five:hover > .img-overlay-five, .pic-six:hover > .img-overlay-six {
    transition: opacity .5s ease-in-out;
    opacity: 0;
    cursor: pointer;
}

/* picture 2 */
.pic-two {
    background-size: cover;
    background-image: url("../img/es.jpg");
    height: 55vh;
    width: 50%;
    position: relative;
    float: right;
}

.img-overlay-two {
    width: 100%;
    height: 100%;
    background: #8d82c4;;
    opacity: 0.5;
    transition: opacity .3s linear;
}

/* picture 3 */
.pic-three {
    background-size: cover;
    background-image: url("../img/cm.png");
    height: 55vh;
    width: 50%;
    position: relative;
    float: left;
}

.img-overlay-three {
    width: 100%;
    height: 100%;
    background: #ec8d81;
    opacity: 0.5;
    transition: opacity .3s linear;
}

/* picture 4 */
.pic-four {
    background-size: cover;
    background-image: url("../img/de.jpg");
    height: 55vh;
    position: relative;
    width: 50%;
    float: right;
}

.img-overlay-four {
    width: 100%;
    height: 100%;
    background: #e7b788;;
    opacity: 0.5;
    transition: opacity .3s linear;
}

/* picture 5 */
.pic-five {
    background-size: cover;
    background-image: url("../img/gg.jpg");
    height: 55vh;
    position: relative;
    width: 50%;
    float: left;
}

.img-overlay-five {
    width: 100%;
    height: 100%;
    background: #8ea9e8;
    opacity: 0.5;
    transition: opacity .3s linear;
}

/* picture 6 */
.pic-six {
    background-size: cover;
    background-image: url("../img/japb.jpg");
    height: 55vh;
    width: 50%;
    position: relative;
    float: right;
}

.img-overlay-six {
    width: 100%;
    height: 100%;
    background: #87c5a4;
    opacity: 0.5;
    transition: opacity .3s linear;
}

/* "some_text" section */
.some_text {
    text-align: left;
    padding: 120px;
    background-color: rgba(0, 0, 0, 0.9);
}

.some_text_inside {
    width: 100%;
    color: white;
}

.some_text_inside p {
    margin: 0;
    font-weight: 300;
    line-height: 30.8px;
    font-size: 20px;
}

/* footer */

footer {
    background-color: black;
}

.footer-links {
    text-align: center;
}

.footer-links ul {
    padding: 50px;
    margin: 0;
}

.footer-links li {
    margin: 0;
    display: inline-block;
    color: rgba(244, 244, 255, 0.2);
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 0.025em;
    padding:0 10px 0 4px;
}

.footer-links a {
    margin: 0;
    color: rgba(244, 244, 255, 0.2);
    text-decoration: none;

}

.footer-links a:hover, .contacts a:hover {
    color: #53e3fb;
    border: none;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.assange h1, .snowden h1, .manning h1, .ellsberg h1, .glgr h1, .appb h1 {
    font-size: 32px;
    margin: 30px 30px 10px 30px;
}

.assange, .snowden, .manning, .ellsberg, .glgr, .appb {
    margin: 50px 120px 50px 120px;
}

.assange p, .snowden p, .manning p, .ellsberg p, .glgr p, .appb p {
    line-height: 40px;
    font-size: 19px;
    margin: 0 30px;
}

.assange h2, .snowden h2, .manning h2, .ellsberg h2, .glgr h2, .appb h2 {
    margin: 15px 30px 10px 30px;
}

.assange img, .snowden img, .manning img, .ellsberg img, .glgr img, .appb img {
    float: left;
    padding: 0 30px 10px 30px;
    max-width:100%;
    height: auto;
}

@media (max-width: 420px) {
    .some_text {
        padding: 10px;
    }
    .intro-block,.intro, .fade {
        height: auto;
    }
    .intro .intro-block {
        margin: auto;
        padding: 20px;
    }
    .intro h1 {
        text-align: center;
    }
    .photo-text {
        position: absolute;
        top: 10px;
        left: 10px;
        color: white;
        font-weight: 600;
        z-index: 1;
    }
    .pic-one, .pic-two, .pic-three, .pic-four, .pic-five, .pic-six {
        width: 100%;
        height: 50vh;
        background-position: center;
    }

    .assange, .snowden, .manning, .ellsberg, .glgr, .appb {
        margin: 50px 20px 50px 20px;
    }

    .assange p, .snowden p, .manning p, .ellsberg p, .glgr p, .appb p {
        font-size: 19px;
    }
    .assange img, .snowden img, .manning img, .ellsberg img, .glgr img, .appb img {
        max-width: 100%;
        margin-bottom: 30px;
    }
    .assange h1, .snowden h1, .manning h1, .ellsberg h1, .glgr h1, .appb h1 {
        margin: 30px;
    }
}

/* responsive, media-queries*/

@media (min-width: 425px) and (max-width: 1024px) {
    .intro-block,.intro, .fade {
        height: auto;
    }
    .intro .intro-block {
        margin: auto;
        padding: 20px;
    }

    .some_text {
        padding: 20px;
    }
    .pic-one, .pic-two, .pic-three, .pic-four, .pic-five, .pic-six {
        background-position: center;
    }
}

@media (min-width: 1030px) and (max-width: 1440px) {
    .intro-block,.intro, .fade {
        height: auto;
    }

    .intro p {
        margin-top: 0;
        font-size: 30px;
        font-weight: 300;
        color: white;
        margin-right: 30px;
        display: inline-block;
    }

    .some_text_inside p {
        margin: 0;
        font-weight: 300;
        line-height: 60.8px;
        font-size: 30px;
    }
    .pic-one, .pic-two, .pic-three, .pic-four, .pic-five, .pic-six {
        background-position: center;

    }
}
@media (min-width: 1500px) {
    .pic-one, .pic-two, .pic-three, .pic-four, .pic-five, .pic-six {
        background-position: center;
        height: 70vh;
    }
    .some_text_inside p {
        margin: 0;
        font-weight: 300;
        line-height: 60.8px;
        font-size: 50px;
    }
}

